

.sketchGame {
display: flex;
flex-direction: column;
align-items: center;
}

#changeSize {
  margin: 10px;
}

#container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
  }
  
  .square {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: lightgray;
  }